.content {
    display: grid;
    grid-template-rows: 25px;
    min-height: 100%;
}

.editor {
    width: 100%;
    height: 100%;
    position: relative;
}

.toolbar-btn {
    float: right;
}

.output {
    padding: 5px;
    font-family: Monaco, monospace;
    font-size: 16px;
    text-align: left;
    white-space: pre-line;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: normal;
    height: 100%;
    background: white;
}

.output-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.console-wrapper {
    position: absolute;
    height: 27px;
    left: 0;
    right: 1em;
    /*border-top: solid medium black;*/
}
