body {
  padding-top: 5rem;
}
.starter-template {
    text-align: center;
    padding: 3rem 1.5rem 0;
}

.code-row {
  padding: 0;
  text-align: center;
}

.editor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.editor-wrapper {
    border: solid gray;
    padding: 5px;
    font-family: Monaco;
    font-size: 24px;
    text-align: left;
}

#drawarea {
    width: 100%;
    border: solid gray;
    padding: 0;
}
