<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Scheme thing</title>

    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='starter-template.css') }}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Scheme-o-matic</a>
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"#}
    {#            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}
    {##}
    {#    <div class="collapse navbar-collapse" id="navbarsExampleDefault">#}
    {#        <ul class="navbar-nav mr-auto">#}
    {#            <li class="nav-item active">#}
    {#                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="#">Link</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link disabled" href="#">Disabled</a>#}
    {#            </li>#}
    {#            <li class="nav-item dropdown">#}
    {#                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"#}
    {#                   aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
    {#                <div class="dropdown-menu" aria-labelledby="dropdown01">#}
    {#                    <a class="dropdown-item" href="#">Action</a>#}
    {#                    <a class="dropdown-item" href="#">Another action</a>#}
    {#                    <a class="dropdown-item" href="#">Something else here</a>#}
    {#                </div>#}
    {#            </li>#}
    {#        </ul>#}
    {#        <form class="form-inline my-2 my-lg-0">#}
    {#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
    {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
    {#        </form>#}
    {#    </div>#}
</nav>

<main role="main" class="container-fluid">
    <div class="starter-template">
        <h1>Scheme-o-matic</h1>
        <p class="lead">Enter a line of Scheme below:</p>
        <br>
    </div>
    <div class="row flex-fill d-flex">

        <div class="col-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="hide_subs">
          <label class="custom-control-label" for="hide_subs">Disable substititution visualizer for increased performance.</label>
        </div>
{#        <div class="custom-control custom-checkbox">#}
{#          <input type="checkbox" class="custom-control-input" id="hide_envs">#}
{#          <label class="custom-control-label" for="hide_envs">Hide environment visualizer.</label>#}
{#        </div>#}
            <br>

            <div id="editors"></div>
        </div>
        <div class="col-6">
            <div class="prevnexts btn-group" role="group" id="sub_nav" aria-label="Navigation">
                <button id="prev" type="button" class="btn btn-secondary">Prev</button>
                <button id="next" type="button" class="btn btn-secondary">Next</button>
            </div>
            <div class="prevnexts btn-group" role="group" aria-label="Navigation">
                <button id="prev_fast" type="button" class="btn btn-secondary">Prev Assignment</button>
                <button id="next_fast" type="button" class="btn btn-secondary">Next Assignment</button>
            </div>
            <br>
            <br id="sub_br">
            <div id="substitution_tree" class="flex-grow-1"></div>
            <br>
            <div id="environment_diagram" class="flex-grow-1"></div>
        </div>
    </div>

</main><!-- /.tree_container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.6/svg.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.js"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='ace/src-min-noconflict/ace.js') }}"></script>
<script src="{{ url_for('static', filename='controller.js') }}"></script>
</body>
</html>
